<ion-view class="login-home-body">
  <ion-header-bar class="bar-balanced custom-header-bar">
    <div class="buttons left-button row home-Header ios-header-css">
      <button class="button button-icon button-stable ion-chevron-left col-10" on-tap="goBack()">
      </button>
      <span class='col col-90 satsang-date-today'>{{day_type}}</span>
    </div>
  </ion-header-bar>

  <div class="row list search-wrapper search-wrapper-home-center">
    <div class="col" ng-if="isBatchNumber">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon search-icon"></i>
        <input type="tel" placeholder="by Badge No. for Attendance" autocomplete="off"
          class="text-transform-capital placehoder-text-change att-search1" ng-model="searchQuery"
          ng-model-options="{debounce : 500}" spellcheck="false" ng-change="search(searchQuery)" search-popover-diretive
          action-enter="search(searchQuery)">
      </label>
    </div>
    <div class="col" ng-if="isBatchNumber">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon search-icon"></i>
        <input type="tel" placeholder="by Badge No. from List" autocomplete="off"
          class="text-transform-capital placehoder-text-change att-search1" ng-model="searchQuery1.batch_no"
          ng-model-options="{debounce : 500}" spellcheck="false" ng-change="search(searchQuery1)"
          action-enter="search(searchQuery1)">
      </label>
    </div>
    <span class="button ion-arrow-swap swap-btn" on-tap="openNameOrBadgePopover()" ng-if="isBatchNumber"></span>
  </div>

  <div class="row list search-wrapper search-wrapper-home-center">
    <div class="col" ng-if="!isBatchNumber">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon search-icon"></i>
        <input type="search" placeholder="by Name for Attendance" autocomplete="off"
          class="text-transform-capital placehoder-text-change att-search1" ng-model="searchQuery"
          ng-model-options="{debounce : 500}" spellcheck="false" ng-change="search(searchQuery)" search-popover-diretive
          action-enter="search(searchQuery)">
      </label>
    </div>
    <div class="col" ng-if="!isBatchNumber">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon search-icon"></i>
        <input type="search" placeholder="by Name from List" autocomplete="off"
          class="text-transform-capital placehoder-text-change att-search" ng-model="searchQuery1.name"
          ng-model-options="{debounce : 500}" spellcheck="false" ng-change="search(searchQuery1)"
          action-enter="search(searchQuery1)">
      </label>
    </div>
    <span class="button ion-arrow-swap swap-btn" on-tap="openNameOrBadgePopover()" ng-if="!isBatchNumber"></span>
  </div>

  <div class="list search-wrapper-home">
    <div class="row">
      <div class="col checkbox-dimension-time">Total: {{count}}</div>
      <div class="col checkbox-dimension-time">Current Present: {{curent_count}}</div>
    </div>
  </div>
  <ion-floating-menu backdrop="true" class="floating-btn-for-home-center">
    <ion-floating-item class="open-sewadar-class" ng-click="openPopoverForTempSewadar()" icon="ion-plus"
      text="Open Sewadar" menu-open-icon="ion-plus"></ion-floating-item>
    <ion-floating-item class="jatha-class" ng-click="goToDateList()" icon="ion-eye" text="Date Wise">
    </ion-floating-item>
  </ion-floating-menu>
  <ion-content has-bouncing="false" class="stop-scroll common-search-wrapper-home content-with-footer">
    <div>
      <sewadars-listing-directive></sewadars-listing-directive>
    </div>
  </ion-content>
  <div class="fixed-outside">
    <div class="button-bar">
      <button class="button button-assertive ascDesc filter-home" on-tap="timeFilter('in')">
        IN-TIME
      </button>
      <button class="button button-assertive ascDesc filter-home" on-tap="timeFilter('current')">
        CURRENT
      </button>
      <button class="button button-assertive ascDesc filter-home" on-tap="timeFilter('out')">
        OUT-TIME
      </button>
    </div>
  </div>
  </ion-view>
</ion-view>