<ion-view class="login-home-body home-popup"> 
	<ion-header-bar class="bar-balanced custom-header-bar">
		<div class="buttons left-button row home-Header ios-header-css">
			<button class="button button-icon button-stable ion-chevron-left col-10" on-tap="goBack()">
			</button>
			<span class='col col-90 satsang-date-today'>Satsang Day ({{today}})</span>
		</div>		
	</ion-header-bar>   
	<div class="list search-wrapper" ng-if="isBatchNumber">
		<label class="item item-input search-box srch-width">
			<i class="icon ion-search placeholder-icon search-icon"></i>
			<input 
			type="tel" 
			placeholder="Search Sewadar by Badge No."
			autocomplete="off"
			class = "text-transform-capital placehoder-text-change att-search1" 
			ng-model="searchQuery"
			ng-model-options="{debounce : 500}"
			spellcheck = "false"
			ng-change = "search(searchQuery)"
			search-popover-diretive
			action-enter="search(searchQuery)"
			>
		</label>    		
		<span class="button ion-arrow-swap swap-btn" on-tap="openNameOrBadgePopover()"></span>
	</div>	
	<div class="list search-wrapper" ng-if="!isBatchNumber">
			<label class="item item-input srch-width">
				<i class="icon ion-search placeholder-icon search-icon"></i>
				<input 
					type="search" 
					placeholder="Search Sewadar by Name"
					autocomplete="off"
					class = "text-transform-capital placehoder-text-change att-search1" 
					ng-model="searchQuery"
					ng-model-options="{debounce : 500}"
					spellcheck = "false"
					ng-change = "search(searchQuery)"
					search-popover-diretive
					action-enter="search(searchQuery)"
				>
			</label>    		
			<span class="button ion-arrow-swap swap-btn" on-tap="openNameOrBadgePopover()"></span>
		</div>	
	<ion-content has-bouncing = "false">
		<div class="list scms-home satsang-day-view-btn">
			<div class="row">
				<button class="button button-block button-calm btn-padding col" on-tap="showSatsangAttendees()">
					<i class="icon ion-ios-calendar"></i>
					<span>Satsang Day Attendance</span>
					<span class="total-attendees">Total Attendees {{count}}</span>
				</button>				
			</div> 
			<div class="row">
				<button class="button button-block button-assertive btn-padding col">
					<i class="icon ion-close-circled"></i>
					<span>Close Attendance For Day</span>
				</button>				
			</div> 			
		</div>
	</ion-content>
	<div>
		<span class="height-fix-scan-btn">
            <a class="scan-btn-qr" scan-qr-directive on-update="SaveDataToAttandanceTable(sewadar,'QR')" show-scanner = "dirCrtl">
                <i class="icon ion-qr-scanner scan-btn-bottom"> </i> 
            </a>
        </span>
	</div>
</ion-view>
