<ion-view class="login-home-body">    
	<ion-header-bar class="bar-balanced custom-header-bar">
		<div class="buttons left-button row home-Header">
			<a class="col-10 log-out-sec" on-tap="logOut()">
				<i class="icon ion-log-out"></i>	
			</a>
			<span class='col col-60 header-title approval-title'>Approve Nominal Rolls</span>
			<button class="button button-icon button-add col-20 btn-nom-log btn-sect-app" on-tap="markApproved()">
				<i class="icon ion-checkmark-circled icon-space"></i> Approve {{approvalCount <= 0 ? '' : '(' +approvalCount+ ')'}}
			</button>
			
		</div>		
	</ion-header-bar>   

	<div class="list search-wrapper">
		<label class="item item-input">
			<i class="icon ion-search placeholder-icon search-icon"></i>
			<input 
			type="search" 
			placeholder="SEARCH NAME"
			autocomplete="off"
			ng-model="searchQuery"
			spellcheck = "false"
			>
		</label>  		
	</div>

	<ion-content has-bouncing = "false" scroll="true" class="stop-scroll">
		<div class="common-search-wrapper">			
			<div 
			class="list nominal-list nominal-list-mob" 
			ng-repeat="nominal in nominals | filter:searchQuery | orderBy: 'date_from': Desc" on-hold="quickActions(nominal)" ng-class="{'final-diable':nominal.status=='Approved' || nominal.status=='dispatched'}">
			<div class="item sec-content-main">				
				<div class="row">
					<div class="col col-10 approve-checkbox">
	                    <ion-checkbox ng-model="nominal.isSelected" ng-change="markSelected(nominal)" ng-disabled = "nominal.status=='Approved'">
                        </ion-checkbox >
	                </div>	
	                <div class="nominal-list-on-mob col col-90">
	                	<h4>
	                		<label>Date From:</label>
	                		<span ng-bind="nominal.date_from | date: 'dd-MM-yyyy'"></span>
	                	</h4>
	                	<h4>
	                		<label>Date To:</label>
	                		<span ng-bind="nominal.date_to | date: 'dd-MM-yyyy'"></span>                  
	                	</h4> 
	                	<h4>
	                		<label>Sewa Place:</label>
	                		<span ng-bind="nominal.sewa_name" class="text-transform-capital"></span>
	                	</h4> 
	                	<h4 ng-class="{'final-diable':nominal.new_sewa == 'null'}">
	                		<label>Misc Sewa Place:</label>
	                		<span class="text-transform-capital">
	                			{{nominal.new_sewa == 'null' ? 'N/A' : nominal.new_sewa}}
	                		</span>
	                	</h4>
	                	<h4>
	                		<label>Scheduled Status:</label>
	                		<span class="text-transform-capital">
	                			{{nominal.is_scheduled == 0 ? 'Unscheduled' : 'Scheduled'}}
	                		</span>
	                	</h4>
	                	<h4>
	                		<label>Jatha:</label>
	                		<span ng-bind="nominal.jatha_name" class="text-transform-capital" ></span>
	                	</h4>
	                	<h4 >
							<label>Jathedar Name:</label>
							<span class="text-transform-capital" >
								{{nominal.name == 'null'? 'N/A': nominal.name}}
							</span>
						</h4>
	                	<h4>
							<label>Contact No:</label>
							<span>
								{{nominal.contact_no == 'undefined'? 'N/A': nominal.contact_no}}
							</span>
						</h4>
	                	<h4>
	                		<label>Vehicle Type:</label>
	                		<span>
	                			{{nominal.vehicle_type == 'null'? 'N/A': nominal.vehicle_type}}
	                		</span>
	                	</h4>
	                	<h4>
	                		<label>Vehicle Number:</label>	                                 
	                		<span class = "text-transform-uppercase">
	                			{{nominal.vehicle_no == 'null'? 'N/A': nominal.vehicle_no}}
	                		</span>                 
	                	</h4> 
	                	<h4>
	                		<label>Driver Name:</label>	                                
	                		<span class="text-transform-capital" >
	                			{{nominal.driver_name == 'null'? 'N/A': nominal.driver_name}}
	                		</span>                     
	                	</h4> 
	                	<h4>
	                		<label>Status:</label>
	                		<span ng-bind="nominal.status" class="text-transform-capital" ></span>
	                	</h4> 
					</div>

					<div class="col col-90 list-margin-sec nominal-list-on-tab">
						<h4 class="sewa-place-misc">
							<label>Sewa Place:</label>
							<span ng-bind="nominal.sewa_name" class="text-transform-capital"></span>
						</h4>  
						<h4 class="sewa-place-misc" ng-class="{'final-diable':nominal.new_sewa == 'null' || nominal.new_sewa == 'N/A'}">
							<label>Misc Sewa Place:</label>
							<span class="text-transform-capital">
								{{nominal.new_sewa == 'null' ? 'N/A' : nominal.new_sewa}}
							</span>
						</h4>

						<div class="row other-nominal-info">   
							<div class="col col-50"> 
								<h4>
									<label>Date From:</label>
									<span ng-bind="nominal.date_from | date: 'dd-MM-yyyy'"></span>
								</h4> 
								<h4>
									<label>Scheduled Status</label>
									<span class="text-transform-capital">
										{{nominal.is_scheduled == 0 ? 'Unscheduled' : 'Scheduled'}}
									</span>
								</h4> 

								<h4 >
									<label>Jathedar Name:</label>
									<span class="text-transform-capital" >
										{{nominal.name == 'null'? 'N/A': nominal.name}}
									</span>
								</h4>

								<h4>
									<label>Vehicle Type:</label>
									<span>
										{{nominal.vehicle_type == 'null'? 'N/A': nominal.vehicle_type}}
									</span>
								</h4>

								<h4>
									<label>Driver Name:</label>

									<span class="text-transform-capital" >
										{{nominal.driver_name == 'null'? 'N/A': nominal.driver_name}}
									</span>                     
								</h4> 

							</div> 
							<div class="col col-50 driver-data">

								<h4>
									<label>Date To:</label>
									<span ng-bind="nominal.date_to | date: 'dd-MM-yyyy'"></span>                  
								</h4>

								<h4>
									<label>Jatha:</label>
									<span ng-bind="nominal.jatha_name" class="text-transform-capital" ></span>
								</h4> 

								<h4>
									<label>Contact No:</label>
									<span>
										{{nominal.contact_no == 'undefined'? 'N/A': nominal.contact_no}}
									</span>
								</h4>

								<h4>
									<label>Vehicle Number:</label>

									<span class = "text-transform-uppercase">
										{{nominal.vehicle_no == 'null'? 'N/A': nominal.vehicle_no}}
									</span>                 
								</h4> 	                                                       
								<h4>
									<label>Status:</label>
									<span ng-bind="nominal.status" class="text-transform-capital" ></span>
								</h4>                     
							</div> 
						</div>          
					</div>	                
				</div>           
			</div>			
		</div>
		</div>
</ion-content>

</ion-view>