<div class="list popup-width row" >
  <div class="database-detail col-10"></div>
	<div class="col-40 confirm-mobile">
    <h3>In Time</h3>
    <label class="item item-input custom-text">
      <i class="icon ion-clock placeholder-icon"></i>
      <input type="time" ng-model="inOut.time_in">   
    </label>
  </div>
  <div> </div>
	<div class="confirm-mobile col-40">
    <h3>Out Time</h3>
    <label class="item item-input custom-text">
      <i class="icon ion-clock placeholder-icon"></i>
      <input type="time" value="inOut.time_out" ng-model="inOut.time_out">
    </label>
  </div>	
  <div class="database-detail col-10"></div>  
</div>