<!-- <ion-popover-view  class="fit list-button-popover">
    <ion-content scroll="false">
        <div class="list">
            <a class="item" on-tap="closeButtonListPopover();" ui-sref="jatha-members">
                <i class="icon ion-android-add-circle"></i> Jatha Members
            </a>
            <a class="item" on-tap="openPopoverForTempSewadar(); closeButtonListPopover()">
                <i class="icon ion-android-add-circle"></i> Open Sewadar
            </a>
            <a class="item" on-tap="print(); closeButtonListPopover()">
                <i class="icon ion-printer"></i> Print
            </a>
        </div>
    </ion-content>
</ion-popover-view>
 -->