<ion-popover-view  class="fit name-badge-button-popover status-button-popover">
    <ion-content scroll="false">
        <div class="list">
            <a class="item btn-hover-badge-name" on-tap="byStatus('all') ">
                All
            </a>
            <a class="item btn-hover-badge-name" on-tap="byStatus('pending')">
                Pending
            </a>
            <a class="item btn-hover-badge-name" on-tap="byStatus('Approved') ">
                Approved
            </a>
            <a class="item btn-hover-badge-name" on-tap="byStatus('dispatched')">
                Dispatched
            </a>
        </div>
    </ion-content>
</ion-popover-view>